html {
  overscroll-behavior: none;
  touch-action: none;
}

body {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#canvas {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#title-container {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0.5em;
  text-align: right;
  font-size: 1.5em;
  color: #fff;
}
